//Colores
$Azul: #727CF4;
$Verde: #0ACF97;
$Azul-Obscuro: #313A46;
$Rojo: #FA5C7C;
$Azul-Claro: #39AFD1;

$primary: $Azul;
$secondary: $Verde;
$dark: $Azul-Obscuro;
$danger: $Rojo;
$warning: $Azul-Claro;

//Importamos Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';