//Colores
$Verde-Azul: #1e8d82;
$Azul-Claro: #82b6b7;
// $Verde: #0ACF97;
// $Azul-Obscuro: #313A46;
// $Rojo: #FA5C7C;
// $Azul-Claro: #39AFD1;

$primary: $Verde-Azul;
$secondary: $Azul-Claro;
// $secondary: $Verde;
// $dark: $Azul-Obscuro;
// $danger: $Rojo;
// $warning: $Azul-Claro;

//Importamos Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';